h1 {
	text-align: center;
}

table {
	margin: 10px auto;
	border-collapse: collapse;
}

td {
	width: 100px;
	height: 100px;
	}

tr.row1 td {
	border-bottom: 1px solid black;
}
tr.row2 td {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}
tr.row3 td {
	border-top: 1px solid black;
}

td.middle {
	border-left: 1px solid black;
	border-right: 1px solid black;
}
